<nav class="floating-nav js-floating-nav">
    <ul class="list-unstyled">
        <li>
            <a href="#about">
                <i class="mr-10 icon-board"></i>
                About
            </a>
            <a href="#work-experience">
                <i class="mr-10 icon-office"></i>
                Work Experience
            </a>
            <a href="#skills">
                <i class="mr-10 icon-tools"></i>
                Skills
            </a>
            <a href="#education">
                <i class="mr-10 icon-graduation-cap"></i>
                Education
            </a>
            <a href="#interests">
                <i class="mr-10 icon-heart"></i>
                Interests
            </a>
        </li>
    </ul>
</nav>