<div class="social-links text-center">
    <div>
        {{#each basics.profiles}}
        <a class="fs-2x social-link link-{{this.label}} icon-{{this.label}}" href="{{ this.url }}" target="_blank"
            data-toggle="tooltip" title="{{this.title}}">
        </a>
        {{/each}}
    </div>
</div>